body {
    margin: 0;
    padding: 0;
    background: url(/images/background.jpg) 50% 10%;
}

.shadow {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.signin-form, .confirm-email {
    width: 300px;
    padding: 20px;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/images/background.jpg) 50% 50%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

    .signin-form h1 {
        margin-top: 100px;
        font-family: 'Permanent Marker', cursive;
        color: #fff;
        font-size: 40px;
    }

    .signin-form input {
        display: block;
        width: 100%;
        padding: 0 16px;
        height: 44px;
        text-align: center;
        box-sizing: border-box;
        outline: none;
        border: none;
        font-family: "montserrat", sans-serif;
    }

.txtb {
    font-size: 18px;
    background: rgba(255, 255, 255, .8);
    border-radius: 6px;
}

.signin-btn {
    background: #487eb0;
    color: #fff;
    border-radius: 44px;
    cursor: pointer;
    transition: 0.8s;
}

    .signin-btn:hover {
        transform: scale(0.96);
    }

.signin-form a {
    text-decoration: none;
    color: #fff;
    font-family: "montserrat", sans-serif;
    font-size: 14px;
    padding: 10px;
    transition: 0.8s;
    display: block;
}

    .signin-form a:hover {
        background: rgba(0, 0, 0, .3);
    }

.signin-form i:hover {
    cursor: pointer;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

input#persistent {
    width: 22%;
    height: 22px;
    padding: 0;
}

.flip-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background-color: transparent;
    perspective: 1000px;
    z-index: 99;
}

.flip-card-inner {
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flipped {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backface-visibility: hidden;
    box-shadow: 0 0 20px rgb(0, 0, 0);
}

.flip-card-back {
    transform: translate(-50%, -50%) rotateY(180deg);
}

#pleaseWait {
    display: none;
}

#info {
    display: none;
}

canvas {
    display: block;
}

#particles-js {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
