@using ShowingAds.CoreLibrary.Models.States
@using ShowingAds.CoreLibrary.Models.Database
@using ShowingAds.WebAssembly.Client.Components.Cards
@implements IDisposable

<div class="card mt-3 mb-3">
    <div class="card-body">
        <h4 class="card-title">Информация</h4>
        @foreach (var (channel, device) in _subscribedDevices)
        {
            <InfoDevice @key="channel + device.Id" ChannelName="@channel" Device="device" />
        }
        @foreach (var device in _unsubscribedDevices)
        {
            <InfoDevice @key="device.Id" Device="device" />
        }
    </div>
</div>

@code {
    [CascadingParameter]
    public AppContainer Container { get; set; }

    private IEnumerable<(string, DeviceState)> _subscribedDevices { get; set; }
    private IEnumerable<DeviceState> _unsubscribedDevices { get; set; }

    protected override Task OnInitializedAsync()
    {
        OnUpdate();
        Container.ChannelUpdated += OnUpdate;
        return base.OnInitializedAsync();
    }

    private async void OnUpdate()
    {
        var subscribedTasks = (await Container.DeviceManager.GetCollection(x => x.ChannelId != Guid.Empty))
            .Select(async x => (await GetChannelName(x.ChannelId), x));
        _subscribedDevices = (await Task.WhenAll(subscribedTasks));
        _subscribedDevices = _subscribedDevices.OrderBy(x => x.Item1).ThenBy(x => x.Item2.Name);
        _unsubscribedDevices = (await Container.DeviceManager.GetCollection(x => x.ChannelId == Guid.Empty));
        _unsubscribedDevices = _unsubscribedDevices.OrderBy(x => x.Name);
        await InvokeAsync(() => StateHasChanged());
    }

    private async Task<string> GetChannelName(Guid channelId)
    {
        var (isSuccess, channel) = await Container.ChannelManager.TryGet(channelId);
        if (isSuccess)
            return channel?.Name;
        return string.Empty;
    }

    public void Dispose()
    {
        Container.ChannelUpdated -= OnUpdate;
    }
}
