@using ShowingAds.CoreLibrary.Models.Database
@using ShowingAds.WebAssembly.Client.Components.Cards
@using Blazored.Modal.Services
@inject IModalService Modal
@implements IDisposable

<CascadingValue Value="Container">
    <div class="m-1 p-1">
        @if (_contents == null)
        {
            <p>Loading!!!</p>
        }
        else
        {
            @foreach (var content in _contents)
            {
                <AddContentCard @key="content.Id" Content="content" OnAddContent="AddContent" />
            }
        }
    </div>
</CascadingValue>

@code {
    [Parameter]
    public AppContainer Container { get; set; }
    [Parameter]
    public Channel Channel { get; set; }

    private IEnumerable<Content> _contents { get; set; }

    protected override Task OnInitializedAsync()
    {
        OnUpdate();
        Container.ChannelUpdated += OnUpdate;
        return base.OnInitializedAsync();
    }

    private async void OnUpdate()
    {
        _contents = await Container.ContentManager.GetCollection(x => Channel.ContentsId.Contains(x.Id) == false);
        _contents = _contents.OrderBy(x => x.Name);
        await InvokeAsync(() => StateHasChanged());
    }

    public void Dispose()
    {
        Container.ChannelUpdated -= OnUpdate;
    }

    private async void AddContent(Content content)
    {
        Channel.ContentsId.Add(content.Id);
        await Container.ChannelManager.TryAddOrUpdate(Channel.Id, Channel);
    }
}
