@using ShowingAds.CoreLibrary.Models.States
@using ShowingAds.WebAssembly.Client.Components.Cards
@using Blazored.Modal.Services
@inject IModalService Modal
@implements IDisposable

<CascadingValue Value="Container">
    <div class="m-1 p-1">
        @if (_devices == null)
        {
            <p>Loading!!!</p>
        }
        else
        {
            @foreach (var device in _devices)
            {
                <DeviceCard @key="device.Id" Device="device" OnClose="DeleteDevice" />
            }
        }
    </div>
</CascadingValue>

@code {
    [Parameter]
    public AppContainer Container { get; set; }

    private IEnumerable<DeviceState> _devices { get; set; }

    protected async override Task OnInitializedAsync()
    {
        Container.ChannelUpdated += OnUpdate;
        OnUpdate();
        await base.OnInitializedAsync();
    }

    private async void OnUpdate()
    {
        _devices = await Container.DeviceManager.GetCollectionAsync(x => true);
        _devices = _devices.OrderBy(x => x.Name);
        await InvokeAsync(() => StateHasChanged());
    }

    public void Dispose()
    {
        Container.ChannelUpdated -= OnUpdate;
    }

    private async void DeleteDevice(DeviceState device)
    {
        var options = new ModalOptions()
        {
            HideHeader = true,
            Animation = ModalAnimation.FadeIn(0.5),
            Class = "blazored-modal confirm-size"
        };

        var formModel = Modal.Show<ConfirmationModal>("Вы уверены?", options: options);
        var result = await formModel.Result;
        if (result.Cancelled == false)
        {
            await Container.DeviceManager.TryDeleteAsync(device.Id);
        }
    }
}
